__pycache__/
*.py[cod]
*.swp
*.log
env/
venv/
.venv/
.vscode/
*.vscode/
.idea/
*.idea/
*.vscode/
*.atom/
.DS_Store  # macOS
Thumbs.db  # Windows

# Panahone specific
*.cache
cache/
config/
weather_cache.json

